<html>
<head>
<title>test</title>
<style type="text/css">
  input.blueBack {
    background-color:blue;
  }
-->
</style>
<script type="text/javascript">
<!--
function chgStrColor(pId) {
  document.body.innerHTML = document.body.innerHTML.replace(/INPUT value/g, "input type=\"text\" class=\"blueBack\" value")
}
-->
</script>
</head>
<body>
  <input value="test1"><br>
  <input value="test2"><br>
  <input value="test3"><br>
  <input value="test4"><br>
  <input type="button" value="chenge" onclick="chgStrColor()">
</body>
</html>