<!DOCTYPE html>
<html>
<head>
  <title>掲示板</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

<meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
<script>
document.addEventListener('DOMContentLoaded',function(){ document.getElementById('response_content').focus();},false);

$(document).ready(function() {
    var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    for(var n=0,N=document.getElementsByTagName('span1').length; n<N; n++) {
    var tagname =document.getElementsByTagName('span1')[n].innerHTML;

      if((tagname).match(exp)){
        $(document.getElementsByTagName('span1')[n]).html($(document.getElementsByTagName('span1')[n]).html().replace(exp,"<a href='$1' target='_blank'>$1</a>"));
      }else{
  var output = tagname;
    output = output.replace(/\{(.*)\} /g,'\\{$1\\} ');
    output = output.replace(/\r\n/g,'\n');
    output = output.replace(/\r/g,'\n');
    output = output.replace(/\n/g,'\\\\');//改行
    output = output.replace(/\s/g,'\\ ');//スペース登録
    
  var fullWidth = 'ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ０１２３４５６７８９、。＾＋－（）｛｝';  //全角を
  var halfWidth = 'abcdefghijklmnopqrstuvwxyz0123456789,.^+-(){}';   //半角
  for (var i=0,I=fullWidth.length; i<I; i++)
    output = output.replace(new RegExp(fullWidth.charAt(i),'g'),halfWidth.charAt(i));//に変換

  function divide(original){
    var slash = [], par = 0;
    for (var i=0,I=original.length; i<I; i++){
      var character = original.charAt(i);//i番目の配列を抜き出す
      switch (character){//以下でslash配列に/ごとの()の数を記憶させる
        case '(': par++; break;//character=='('ならpar=par+1
        case ')': par--; break;//character==')'ならpar=par+1
        case '/': slash.push([par,i]); break;//slash配列に[par,i]を記憶させてbreak
      }
    }
    var S = slash.length;//分数の分割の数
    if (S>0){//分数があれば
      for (var i=1,min=slash[0][0]; i<S; i++) min = Math.min(slash[i][0],min);//配列slashi番目のparの最小をminとする
      for (var i=0,minSlash=[-1]; i<S; i++) if (slash[i][0]==min) minSlash.push(slash[i][1]);//もしparが最小なら　その値をminSlashに入れる
      minSlash.push(I);//
      var parts = [];
      for (var i=0,M=minSlash.length; i<M-1; i++){
        parts[i] = original.slice(minSlash[i]+1,minSlash[i+1]);
        if (parts[i].indexOf('/')>=0) parts[i] = divide(parts[i]);
      }
      for (var i=0,I=parts.length-1; i<I; i++){
        for (var j=parts[i].length-1,par=0; j>=0; j--){
          var character = parts[i].charAt(j);
          if (character==')') par++;
          if (character=='(') par--;
          var flag = character.match(/[^A-Za-z0-9\*×\(\)]/);
          if (par<=0 && (flag || j==0)){
            if (!flag && j==0) j--;
            parts[i] = (parts[i].charAt(j+1)==('(') && parts[i].charAt(parts[i].length-1)==(')') && parts[i].slice(j+1).indexOf(')(')<0) ? parts[i].slice(0,j+1)+parts[i].slice(j+1).replace(/\((.*)\)/,'\\frac {$1}') : parts[i].slice(0,j+1)+'\\frac {'+parts[i].slice(j+1)+'}';
            break;
          }
        }
        for (var j=0,J=parts[i+1].length,par=0; j<J; j++){
          var character = parts[i+1].charAt(j);
          if (character=='(') par++;
          if (character==')') par--;
          var flag = character.match(/[^A-Za-z0-9\*×\(\)]/);
          if (par<=0 && (flag || j==J-1)){
            if (!flag && j==J-1) j++;
            parts[i+1] = (parts[i+1].charAt(0)==('(') && parts[i+1].charAt(j-1)==(')') && parts[i+1].slice(0,j).indexOf(')(')<0) ? parts[i+1].slice(0,j).replace(/\((.*)\)/,'{$1}')+parts[i+1].slice(j) : '{'+parts[i+1].slice(0,j)+'}'+parts[i+1].slice(j);
            break;
          }
        }
      }
      parts = parts.join('');
    }
    else var parts = original;
    return parts;
  }
  output = divide(output);//分数にする？以下で定義
  output = output.replace(/ルート\((.*?)\)/g,'ルート{\\mathstrut $1}');
  output = output.replace(/積分\((.*?)から(.*?)\)/g,'\\int_{$1}^{$2} ');
  output = output.replace(/\((.*?)\)乗根\((.*?)\)/g,'\\sqrt[$1]{$2} ');
  output = output.replace(/(.)乗根\((.*?)\)/g,'\\sqrt[$1]{$2} ');
  output = output.replace(/lim\((.*?)が(.*?)へ\)/g,'\\lim_{$1 \\to $2} ');
  output = output.replace(/連立\((.*?),(.*?)\)/g,'\\left\\{\\begin{array}{l}$1\\\\$2 \\end{array}\\right. ');//コロンの数だけ増やしたい
  output = output.replace(/>=/g,'\\ge ');
  output = output.replace(/=</g,'\\le ');
  output = output.replace(/行列\(\((.*?),(.*?),(.*?)\),\((.*?),(.*?),(.*?)\),\((.*?),(.*?),(.*?)\)\)/g,'\\left(\\begin{array}{ccc}$1 & $2 & $3 \\\\$4 & $5 & $6 \\\\$7 & $8 & $9\\end{array}\\right) ');
  output = output.replace(/行列\(\((.*?),(.*?)\),\((.*?),(.*?)\)\)/g,'\\left(\\begin{array}{cc}$1 & $2 \\\\$3 & $4 \\end{array}\\right) ');
  output = output.replace(/行列\(\(?(.*?)\)?,\(?(.*?)\)?\)/g,'\\left(\\begin{array}{c}$1 \\\\$2 \\end{array}\\right) ');
  output = output.replace(/ベクトル\((.*?)\)/g,'\\overrightarrow{$1} ');
  output = output.replace(/シグマ\((.*?)から(.*?)\)/g,'\\sum_{$1}^{$2} ');
  output = output.replace(/任意の?\((.*?)\)/g,'{}^{\\forall}{$1} ');
  output = output.replace(/存在す?る?\((.*?)\)/g,'{}^{\\exists}{$1} ');




  var jpnCommand = { 'アルファ':'\\alpha ','α':'\\alpha ','ベータ':'\\beta ','β':'\\beta ','ガンマ':'\\gamma ','γ':'\\gamma ','ルート':'\\sqrt ','プラスマイナス':'\\pm ','パイ':'\\pi ','円周率':'\\pi ','任意の':' {}^\\forall ','存在する':'{}^\\exists ','無限大':'\\infty ',};
  for (var myJpn in jpnCommand)
    output = output.replace(new RegExp(myJpn,'g'),jpnCommand[myJpn]);
    

    //output = output.replace(/([^ -~｡-ﾟ])/g,'$$$1$$\{\} ');//日本語フォント
//    output = output.replace(/\(^ -~｡-ﾟ\)/g,'\$$1\$\{\}');


 document.getElementsByTagName('span1')[n].innerHTML = '$ \\displaystyle{'+output+'}$';
  MathJax.Hub.Typeset();
      };
    };
});

function Real(){
  var output = document.getElementById('response_content').value;
  //output = output.replace(/\$/g,'');  //ドルマーク削除
    output = output.replace(/\{(.*)\} /g,'\\{$1\\} ');
    output = output.replace(/\r\n/g,'\n');
    output = output.replace(/\r/g,'\n');
    output = output.replace(/\n/g,'\\\\');//改行
    output = output.replace(/\s/g,'\\ ');//スペース登録
    
  var fullWidth = 'ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ０１２３４５６７８９、。＾＋－（）｛｝';  //全角を
  var halfWidth = 'abcdefghijklmnopqrstuvwxyz0123456789,.^+-(){}';   //半角
  for (var i=0,I=fullWidth.length; i<I; i++)
    output = output.replace(new RegExp(fullWidth.charAt(i),'g'),halfWidth.charAt(i));//に変換
    
  function divide(original){
    var slash = [], par = 0;
    for (var i=0,I=original.length; i<I; i++){
      var character = original.charAt(i);//i番目の配列を抜き出す
      switch (character){//以下でslash配列に/ごとの()の数を記憶させる
        case '(': par++; break;//character=='('ならpar=par+1
        case ')': par--; break;//character==')'ならpar=par+1
        case '/': slash.push([par,i]); break;//slash配列に[par,i]を記憶させてbreak
      }
    }
    var S = slash.length;//分数の分割の数
    if (S>0){//分数があれば
      for (var i=1,min=slash[0][0]; i<S; i++) min = Math.min(slash[i][0],min);//配列slashi番目のparの最小をminとする
      for (var i=0,minSlash=[-1]; i<S; i++) if (slash[i][0]==min) minSlash.push(slash[i][1]);//もしparが最小なら　その値をminSlashに入れる
      minSlash.push(I);//
      var parts = [];
      for (var i=0,M=minSlash.length; i<M-1; i++){
        parts[i] = original.slice(minSlash[i]+1,minSlash[i+1]);
        if (parts[i].indexOf('/')>=0) parts[i] = divide(parts[i]);
      }
      for (var i=0,I=parts.length-1; i<I; i++){
        for (var j=parts[i].length-1,par=0; j>=0; j--){
          var character = parts[i].charAt(j);
          if (character==')') par++;
          if (character=='(') par--;
          var flag = character.match(/[^A-Za-z0-9\*×\(\)]/);
          if (par<=0 && (flag || j==0)){
            if (!flag && j==0) j--;
            parts[i] = (parts[i].charAt(j+1)==('(') && parts[i].charAt(parts[i].length-1)==(')') && parts[i].slice(j+1).indexOf(')(')<0) ? parts[i].slice(0,j+1)+parts[i].slice(j+1).replace(/\((.*)\)/,'\\frac {$1}') : parts[i].slice(0,j+1)+'\\frac {'+parts[i].slice(j+1)+'}';
            break;
          }
        }
        for (var j=0,J=parts[i+1].length,par=0; j<J; j++){
          var character = parts[i+1].charAt(j);
          if (character=='(') par++;
          if (character==')') par--;
          var flag = character.match(/[^A-Za-z0-9\*×\(\)]/);
          if (par<=0 && (flag || j==J-1)){
            if (!flag && j==J-1) j++;
            parts[i+1] = (parts[i+1].charAt(0)==('(') && parts[i+1].charAt(j-1)==(')') && parts[i+1].slice(0,j).indexOf(')(')<0) ? parts[i+1].slice(0,j).replace(/\((.*)\)/,'{$1}')+parts[i+1].slice(j) : '{'+parts[i+1].slice(0,j)+'}'+parts[i+1].slice(j);
            break;
          }
        }
      }
      parts = parts.join('');
    }
    else var parts = original;
    return parts;
  }
  output = divide(output);//分数にする？以下で定義
  output = output.replace(/ルート\((.*?)\)/g,'ルート{\\mathstrut $1}');
  output = output.replace(/積分\((.*?)から(.*?)\)/g,'\\int_{$1}^{$2} ');
  output = output.replace(/\((.*?)\)乗根\((.*?)\)/g,'\\sqrt[$1]{$2} ');
  output = output.replace(/(.)乗根\((.*?)\)/g,'\\sqrt[$1]{$2} ');
  output = output.replace(/lim\((.*?)が(.*?)へ\)/g,'\\lim_{$1 \\to $2} ');
  output = output.replace(/連立\((.*?),(.*?)\)/g,'\\left\\{\\begin{array}{l}$1\\\\$2 \\end{array}\\right. ');//コロンの数だけ増やしたい
  output = output.replace(/>=/g,'\\ge ');
  output = output.replace(/=</g,'\\le ');
  output = output.replace(/行列\(\((.*?),(.*?),(.*?)\),\((.*?),(.*?),(.*?)\),\((.*?),(.*?),(.*?)\)\)/g,'\\left(\\begin{array}{ccc}$1 & $2 & $3 \\\\$4 & $5 & $6 \\\\$7 & $8 & $9\\end{array}\\right) ');
  output = output.replace(/行列\(\((.*?),(.*?)\),\((.*?),(.*?)\)\)/g,'\\left(\\begin{array}{cc}$1 & $2 \\\\$3 & $4 \\end{array}\\right) ');
  output = output.replace(/行列\(\(?(.*?)\)?,\(?(.*?)\)?\)/g,'\\left(\\begin{array}{c}$1 \\\\$2 \\end{array}\\right) ');
  output = output.replace(/ベクトル\((.*?)\)/g,'\\overrightarrow{$1} ');
  output = output.replace(/シグマ\((.*?)から(.*?)\)/g,'\\sum_{$1}^{$2} ');
  output = output.replace(/任意の?\((.*?)\)/g,'{}^{\\forall}{$1} ');
  output = output.replace(/存在す?る?\((.*?)\)/g,'{}^{\\exists}{$1} ');





  var jpnCommand = { 'アルファ':'\\alpha ','α':'\\alpha ','ベータ':'\\beta ','β':'\\beta ','ガンマ':'\\gamma ','γ':'\\gamma ','ルート':'\\sqrt ','プラスマイナス':'\\pm ','パイ':'\\pi ','円周率':'\\pi ','無限大':'\\infty ',};
  for (var myJpn in jpnCommand)
    output = output.replace(new RegExp(myJpn,'g'),jpnCommand[myJpn]);
    

    //output = output.replace(/([^ -~｡-ﾟ])/g,'$$$1$$\{\} ');//日本語フォント
//    output = output.replace(/\(^ -~｡-ﾟ\)/g,'\$$1\$\{\}');


  document.getElementById('realtime').innerHTML ='$\\displaystyle{ '+output+'}$';

  MathJax.Hub.Typeset();
}
</script>




</head>
<body>

<%= yield %>

</body>
</html>
